body {
  min-height: 1000px;
  margin:0px;
}

.navbar-vennuck {
  margin-bottom: 0px;
  background-color: #ECB51A;
  border-color: #ECB51A;
  border:0;
}

.navbar-positive {
  margin-bottom: 0px;
  background-color: #20889F;

  border:0;
}

.navbar-positive .navbar-nav > li > a {
    color: #FFF;
}

.navbar-positive .badge {
    color: #777;
    background-color: #fff;

}

.navbar-positive .navbar-toggle {
  background-color: #20889F !important;
}

.navbar-positive .navbar-toggle .icon-bar {
  background-color: #C3D5EB; 
}
.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #D5E7FF !important;
}

/*.navbar-toggle {
	background-color: #20889F !important;
}*/